<p>Usuario</p>
<table>
    <tr>
        <td>Nombre: </td>
        <td><input [(ngModel)]="usuario.nombre" type="text"/></td>
    </tr>
    <tr>
        <td>Correo: </td>
        <td><input [(ngModel)]="usuario.correo" type="text"/></td>
    </tr>
    <tr>
        <td>Password: </td>
        <td><input [(ngModel)]="usuario.password" type="text"/></td>
    </tr>
    <tr>
        <td>Rol: </td>
        <td>
            <select name="rol" [(ngModel)]="usuario.rol">
                <option value="USU">Usuario</option>
                <option value="ADM">Administrador</option>
            </select>
        </td>
    </tr>
</table>
