<br>
<h3>Inicio de Sesión</h3>
<form ngNativeValidate (ngSubmit)="login()">
<table>
    <tbody>
        <tr>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Usuario</mat-label>
                    <input matInput [formControl]="email" name="email" required>
                    <mat-error *ngIf="email.invalid">El email es obligatorio</mat-error>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput type="password"  [formControl]="password" name="password" required/>
                    <mat-error *ngIf="password.invalid">El password es obligatorio</mat-error>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <button mat-raised-button color="primary" type="submit">Entrar</button>
            </td>
        </tr>
    </tbody>
</table>
</form>