
<h3>{{credencial!.id==0 ? "Agregar" : "Modificar"}}</h3>
<table class="nav2">
    <tr>
        <td>
            <a style="font-size: 1em;" href="javascript: void(0);" title="Nueva Applicación"
            (click)="nueva()">
                Nueva Aplicacion
            </a>
        </td>
    </tr>
</table>
<table *ngIf="credencial" style="width:40%">
    <tr>
        <td>Login: </td>
        <td>
            <input [(ngModel)]="credencial!.id" type="hidden"/>
            <input [(ngModel)]="credencial!.login" type="text"/>
        </td>
    </tr>
    <tr>
        <td>Password: </td>
        <td><input [(ngModel)]="credencial!.password" type="text"/></td>
    </tr>
    <tr>
        <td colspan="2">
            <button (click)="guardar()">Guardar</button>
        </td>
    </tr>
</table>
<h3>Listado de Aplicaciones</h3>
<table>
    <thead>
        <tr  style="border:1px solid gainsboro">
            <th>id</th>
            <th>Nombre</th>
            <th>Version</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cred of credenciales">
            <td>{{cred.id}}</td>
            <td>{{cred.login}}</td>
            <td>{{cred.password}}</td>
            <td>{{cred.aplicacion!.nombre}}</td>
            <td>
                <a style="font-size: 1.8em" href="javascript: void(0);" title="Editar"
                (click)="editar(cred!.id)">&#9997;</a>
            </td>
        </tr>
    </tbody>
</table>
