<h3>Lista de Servidores</h3>

<table class="nav2">
    <tr>
        <td>
            <a style="font-size: 1em;" routerLink="/servidor" title="Nuevo Servidor">
                Nuevo Servidor
            </a>
        </td>
    </tr>
</table>
<mat-form-field style="width: 50%">
    <mat-label>Filtrar</mat-label>
    <input matInput (keyup)="filtrar($event)" #input>
</mat-form-field>
<table mat-table [dataSource]="servidores" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let servidor">{{servidor.nombre}}</td>
    </ng-container>
    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let servidor">{{servidor.nombre}}</td>
    </ng-container>
    <ng-container matColumnDef="ip">
        <th mat-header-cell *matHeaderCellDef>IP</th>
        <td mat-cell *matCellDef="let servidor">{{servidor.ip}}</td>
    </ng-container>
    <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef>Descripción</th>
        <td mat-cell *matCellDef="let servidor">{{servidor.descripcion}}</td>
    </ng-container>
    <ng-container matColumnDef="opcion">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let servidor">
            <a style="font-size: 1.8em" routerLink="/servidor/{{servidor.id}}">
                <mat-icon fontIcon="edit_document">
                </mat-icon>
            </a>
            <a style="font-size: 1.8em" routerLink="/servidor/{{servidor.id}}/aplicaciones">
                <mat-icon fontIcon="grid_view">
                </mat-icon>
            </a>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['id','nombre','ip','descripcion','opcion']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['id','nombre','ip','descripcion','opcion']"></tr>
</table>
<!--
    <thead>
        <tr>
            <th>id</th>
            <th>Nombre</th>
            <th>Ip</th>
            <th>Descripción</th>
            <th>&ngsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let s of servidores">
            <td>{{s.id}}</td>
            <td>{{s.nombre}}</td>
            <td>{{s.ip}}</td>
            <td>{{s.descripcion}}</td>
            <td>
                <a style="font-size: 1.8em" routerLink="/servidor/{{s.id}}" title="Editar">&#9997;</a>
                &nbsp;
                <a style="font-size: 1.8em" routerLink="/servidor/{{s.id}}/aplicaciones" title="Aplicacioens">&#10070;</a>
            </td>
        </tr>
    </tbody>
</table>
-->