<p>Servidor</p>
<table *ngIf="servidor" [formGroup]="servidor">
    <tr>
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre" name="nombre" required>
            <mat-error *ngIf="nombre.invalid">El nombre es obligatorio</mat-error>
            <input formControlName="id" type="hidden"/>
        </mat-form-field>
        <td>
            
            <input [(ngModel)]="servidor.nombre" type="text"/>
        </td>
    </tr>
    <tr>
        <td>Ip: </td>
        <td><input [(ngModel)]="servidor.ip" type="text"/></td>
    </tr>
    <tr>
        <td>Descripcion: </td>
        <td><input [(ngModel)]="servidor.descripcion" type="text"/></td>
    </tr>
    <tr>
        <td colspan="2">
            <button (click)="guardar()">Guardar</button>
        </td>
    </tr>
</table>
